
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 127, 80, 0.904);
}

.open-popup{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.popup{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popup-overly{
    width: 100%;
    height: 100vh;
    background-color: rgba(193, 194, 197, 0.712);
    position: absolute;
}

.main-popup{
    background-color: chocolate;
    position: relative;
    width: 70%;
    height: 50vh;
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-popup{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}